<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Edit Position</h1>
</div>
<div class="wrapper-md">
<div class="row">
	
	<form role="form">

	<div class="col-md-12">
	    
            <div class="form-group">
              <label>Position Title</label>
              <input type="text" class="form-control" ng-model="position.title" placeholder="Enter Position Title...">
            </div>

            <div class="form-group">
              <label>Position Description</label>
              <textarea class="form-control" ng-model="position.description" placeholder="Position Description and/or HR notes about this position"></textarea>
            </div>
	</div>

	<div class="col-md-12">
		<button type="submit" class="btn btn-sm btn-primary pull-right">Update Position</button>
	</div>

	</form>	
</div>
</div>