<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Open Positions <button ng-click="openCreatePosition('md')" class="btn btn-primary pull-right">Add Position</button></h1>
</div>
<div class="wrapper-md">
  <!--Begin sorting-->
  <!--
  <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="form-group">
        <label class="control-label col-sm-6 text-right">Sort By</label>
        <div class="col-sm-6">
          <select name="sortby" class="form-control m-b">
            <option>Name</option>
            <option>Interviews Conducted</option>
            <option>Average Rating</option>
          </select>
        </div>
      </div>
      </div>    
    </div>
    -->
  <!--End Sorting-->
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">
        <!--Begin Open Position List Item-->
        <li ng-repeat="position in positions" class="list-group-item">
          
          <!-- Begin Position And Candidates -->
          <div class="row">
              
              <div class="col-md-2">
                <h4>{{ position.title }}</h4>
                <a ng-click="openEditPosition('md', position)" class="btn btn-success btn-xs padder-lg">Edit</a>  
              </div>

              <div class="col-md-4">
                <div class="m-t">
                  {{ position.description }}
                </div>
              </div>

              <div class="col-md-2">
                <h4>{{ position.candidateCount }} Candidates</h4>
                <a ui-sref="app.list-candidates({ positionId: position.id })" class="btn btn-info btn-xs padder-lg">Manage</a>  
              </div>

              <div class="col-md-4">
                <a href="" class="btn btn-primary btn-sm m-t-lg">View Interview Survey Reports</a>
              </div>

              <!--Begin Slide Down-->
              <div class="col-md-12">
                <div class="text-center m-t m-b">
                  <a ng-click="expand =! expand"> 
                    <i ng-hide="expand" class="fa fa-chevron-down"></i>
                    <i ng-show="expand" class="fa fa-chevron-up"></i> 
                  </a>
                </div>
              </div>
              <!--Slide Content-->
              <div class="slide" ng-show="expand">
                <div class="col-md-2">
                  <a ng-click="$parent.openCreateCandidate('md', position)" class="btn btn-primary btn-xs padder-lg m-b">Add Candidate</a>
                </div>
                <!--End Slide Content-->
                <div class="col-md-10">
                  <!--Begin Candidate Links -->
                    <div class="table-responsive">
                      <table class="table table-striped b-t b-light">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Send This Link To Candidate Interviewers</th>
                            <th>Interviews Conducted</th>
                            <th>Average Rating</th>
                            <th style="width:30px;"></th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr ng-repeat="candidate in position.candidates">
                            <td>{{ candidate.firstName }} {{ candidate.lastName }}</td>
                            <td>
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="http://www.example.com/" ng-model="candidate.interviewLink">
                              </div>
                            </td>
                            <td><h4 class="text-center">{{ candidate.interviewsConducted }}</h4></td>
                            <td><h4 class="text-center">{{ candidate.averageRating }}</h4></td>
                            <td class="v-middle">
                              <a ng-click="openEditCandidate('md', candidate)" class="btn btn-success btn-xs padder-lg">Edit</a>
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                  </div>  
              </div>
              
                <!--End Candidate Links -->
              </div>
              <!--End Slide Down -->

          </div>
          <!-- End Position And Candidates -->
        </li>
        <!--End Open Position List Item -->

        
      </ul>    

    </div>

  </div>
</div>
