<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Open Positions <button class="btn btn-primary pull-right">Add Position</button></h1>
</div>
<div class="wrapper-md">
  <div class="row">
  
    <div class="col-md-12">
      <ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">
        <li class="list-group-item">
          
          <!-- Begin Position And Candidates -->
          <div class="row">
              
              <div class="col-md-2">
                <h4>Executive Manager</h4>
                <a class="btn btn-success btn-sm" style="width:100%;">Edit</a>  
              </div>

              <div class="col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero
              </div>

              <div class="col-md-2">
                <h4 class="text-center">2 Candidates</h4>
                <a class="btn btn-info btn-sm" style="width:100%;">Manage</a>  
              </div>

              <div class="col-md-4">
                <a href="" class="btn btn-primary btn-sm">View Interview Survey Reports</a>
              </div>

          </div>
          <!-- End Position And Candidates -->
        </li>
        <li class="list-group-item">
          <!--
          <a href="#" class="pull-left thumb-md m-r">
            <img src="img/a1.jpg" alt="..." class="img-circle">
          </a>
          -->
          <div class="clear">
            <a href="#" class="h4 text-primary m-b-sm block">Miya Soe <span class="label label-sm bg-danger">VIP</span></a>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
          </div>
        </li>
        
      </ul>    

    </div>

  </div>
</div>
